//*****************************  Jumbotrom Style   *****************************
.como-funciona {
    .jumbotron {
        background: none;

        .lead {
            font-size: 1.25rem;
        }
    }

    .bd-example {
        border: solid #ededf2;
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: .2rem;
        margin: 1rem -15px 0;
    }

}
