/* Custom */



.btn-outline-success {
    color: #fff;
    border-color: #ff6633;

    &:hover{
        background-color: #ff6633;
        border-color: #ff6633;
    }
    &:active {
        background-color: #ff6633 !important;
        border-color: #ff6633 !important;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(249, 36, 164, 0.5) !important;
    }
}


