/* Header */


.bg-dark {
    background: #003366 !important;
}


.nav-item {
    font-size: 16px;
}


.navbar-dark {
    .navbar-nav {
        .nav-link {
            color: rgba(255, 255, 255, 0.7);
            font-size: 16px;
            font-weight: 600;
        }

        .btn {
            margin-right: 15px;
            &:last-of-type {
                margin-right: 0px;
            }
        }

    }
}
