//*****************************  Login Style   *****************************

.h-100 {

  height: 90% !important;

  @media screen and (max-width: 479px) {
    height: 90% !important;
  }
}


.login {

  margin-left: 0;

  .card {
    background: #ffffff;
    border-top: 0px solid $blue !important;
    padding: 1rem 1.5rem 2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px $grey-light03;

    .card-header {
      border-bottom: none;
      text-align: center;
      background: none;
      padding: 15px 30px 30px 30px;

    }

    .card-body {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @media screen and (max-width: 479px) {
    /* start of phone styles */



    .card {
      box-shadow: none;
      padding: 0;
      border-radius: 0;
      background: none;
      border: none;

      .card-header {
        padding: 0rem 1.4rem 2.5rem;
        margin-bottom: 0;
        background-color: none;
        border-bottom: none;
      }

      .btn-block {
        margin-top: 1rem;
        font-weight: 600;
        letter-spacing: 0.15rem;
      }
    }


  }

}